/******************** GENERAL *******************/
@font-face {
    font-family: "Contton-tail";
    src: url("../src/fonts/Cottontail_Free.otf");
}
@font-face {
    font-family: "Fresh-salmon";
    src: url("../src/fonts/Fresh_Salmon.otf");
}
@font-face {
    font-family: "Vanilla-cake";
    src: url("../src/fonts/Vanilla_Cake_Free.otf");
}
:root{
   --background: #ffffff;
   --text: #012030;
   --decoration: #13678A;
   --details: #45C4B0;
   --brightcolor: #DAFDBA;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr auto;
}
/******************** SIDEBAR *******************/
.sidebar{
    width: 100px;
    max-height: 100vh;
    /* background-color: var(--brightcolor); */
    border-right: var(--decoration) 1px solid;
    padding: 25px 20px 20px 0px;
    overflow-x: hidden;
    transition:  all 0.4s ease;
}
.sidebar:hover{
    width: 300px;
}
.sidebar .side-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    height: 120px;
}
.sidebar .side-header h2{
    cursor: default;
    font-family: "Vanilla-cake";
    font-size: 18px;
    font-weight: 200;
    white-space: nowrap;
    color: var(--details);
    transition:  all 0.2s ease;
}
.sidebar:hover h2{
    font-size: 30px;
}
/******************** NAV MENU *******************/
.sidebar .nav-menu{
    font-size: 1.25rem;
    margin-top: 50px;
}
.sidebar .nav-menu ul{
    list-style: none;
    font-family: "Contton-tail";
}
.sidebar .nav-menu li{
    margin: 10px 10px 10px 0px;
    white-space: nowrap;
    padding: 10px 10px 10px 0px;
}
.sidebar .nav-menu li:hover{
    background-color: var(--brightcolor);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.sidebar .nav-menu li:hover a{
    color: var(--decoration);
}
.sidebar .nav-menu a{
    padding-left: 20px;
    text-decoration: none;
    color: var(--text);
    opacity: 0;
}
.sidebar:hover a{
    opacity: 1;
}
.sidebar .nav-menu li i{
    padding-left: 30px;
    color: var(--decoration);
}
/******************** MAIN *******************/
main{
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}
main .user{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
main .user .icon-user{
    height: 50px;
}
main .add-notes{
    display: flex;
    justify-content: center;
}
main .add-notes .add-notes-input{
    width: 350px;
    padding: 8px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: var(--decoration) 1px solid;
    box-shadow: 0 0 5px rgba(69, 196, 176, 0.6);
    transition:  all 0.2s ease;
}
main .add-notes .add-notes-input:focus{
    outline: none;
    border: var(--details) 1px solid;
    padding: 15px;
}
main .add-notes .add-notes-btn{
    font-size: 1.2rem;
    padding: 8px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: var(--decoration) 1px solid;
    box-shadow: 0 0 5px rgba(69, 196, 176, 0.6);
}
main .notes{
    padding: 50px 10px 10px 10px;

}
main .notes .card-note{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
main .notes .card-note p{
    width: 100%;
    height: auto;
    display: block;
}
/******************** FOOTER *******************/
footer{
    height: 50px;
    grid-area: 2/1/2/3;
    background-color: var(--decoration);
    color: var(--brightcolor);
    text-align: center;
    padding: 20px;
    font-family: "Vanilla-cake";
    font-size: 1rem;
    letter-spacing: 1px;
}
footer a{
    color: var(--background);
}