/******************** GENERAL *******************/
@font-face {
    font-family: "Contton-tail";
    src: url("../src/fonts/Cottontail_Free.otf");
}
@font-face {
    font-family: "Vanilla-cake";
    src: url("../src/fonts/Vanilla_Cake_Free.otf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../src/fonts/Poppins-Regular.ttf");
}
:root{
   --background: #ffffff;
   --text: #012030;
   --decoration: #13678A;
   --details: #45C4B0;
   --brightcolor: #DAFDBA;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr auto;   
    font-family: 'Poppins-Regular';
}
.img-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para estar detrás de todo el contenido */
    object-fit: cover;
    opacity: 0.9; /* Ajusta la opacidad si es necesario */
}
/******************** SIDEBAR *******************/
.sidebar{
    width: 100px;
    min-height: 100vh;
    /* background-color: var(--brightcolor); */
    border-right: var(--decoration) 1px solid;
    padding: 25px 20px 20px 0px;
    overflow-x: hidden;
    transition:  all 0.4s ease;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}
.sidebar .sidebar-container{
    position: sticky;
    top: 0;
}
.sidebar:hover{
    width: 300px;
}
.sidebar .side-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    height: 120px;
}
.sidebar .side-header h2{
    cursor: default;
    font-family: "Vanilla-cake";
    font-size: 18px;
    font-weight: 200;
    white-space: nowrap;
    color: var(--text);
    transition:  all 0.2s ease;
}
.sidebar:hover h2{
    font-size: 30px;
}
/******************** NAV MENU *******************/
.sidebar .nav-menu{
    font-size: 1.25rem;
    margin-top: 50px;
}
.sidebar .nav-menu ul{
    list-style: none;
    font-family: "Contton-tail";
}
.sidebar .nav-menu li{
    margin: 10px 10px 10px 0px;
    white-space: nowrap;
    padding: 10px 10px 10px 0px;
}
.sidebar .nav-menu li:hover{
    background-color: var(--brightcolor);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.sidebar .nav-menu li:hover a{
    color: var(--decoration);
}
.sidebar .nav-menu a{
    padding-left: 20px;
    text-decoration: none;
    color: var(--text);
    opacity: 0;
}
.sidebar:hover a{
    opacity: 1;
}
.sidebar .nav-menu li i{
    padding-left: 30px;
    color: var(--decoration);
}
/******************** MAIN *******************/
main{
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 0;
    transition: margin-left 0.4s ease;
}
main .user{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    cursor: pointer;
}
main .user .icon-user{
    height: 50px;
    margin-right: 50px;
}
main .add-notes{
    display: flex;
    justify-content: center;
}
main .add-notes .add-notes-input{
    width: 350px;
    padding: 8px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: var(--decoration) 1px solid;
    box-shadow: 0 0 5px rgba(69, 196, 176, 0.6);
    transition:  all 0.2s ease;
}
main .add-notes .add-notes-input:focus{
    outline: none;
    border: var(--details) 1px solid;
    padding: 15px;
}
main .add-notes .add-notes-btn{
    font-size: 1.2rem;
    padding: 8px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: var(--decoration) 1px solid;
    box-shadow: 0 0 5px rgba(69, 196, 176, 0.6);
    background-color: var(--decoration);
    color: var(--brightcolor);
}
main .add-notes .add-notes-btn:hover{
    background-color: var(--brightcolor);
    color: var(--decoration);
}
main .notes{
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: auto auto;
    padding: 50px 10px 10px 10px;
    place-content: center;
    gap: 20px;
}
.sidebar:hover + .notes{
    margin-left: -10x; 
}
main .notes .card-note{
    cursor: default;
    border-radius: 8px;
    border: rgba(69, 196, 176, 0.3) 1px solid;
    box-shadow: 0 4px 8px rgba(69, 196, 176, 0.3);
    page-break-inside: avoid;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
main .notes .card-note:hover{
    border: rgba(19, 103, 138,0.7) 1px solid;
    box-shadow: 0 4px 8px rgba(69, 196, 176, 0.3);
}
main .notes .card-note .title-note{
    font-size: 0.9rem;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .notes .card-note p{
    padding: 15px;
    width: 100%;
    height: auto;
    display: block;
    font-size: 0.8rem;
}
/******************** FOOTER *******************/
footer{
    height: 50px;
    grid-area: 2/1/2/3;
    background-color: var(--decoration);
    color: var(--brightcolor);
    text-align: center;
    padding: 20px;
    font-family: "Vanilla-cake";
    font-size: 1rem;
    letter-spacing: 1px;
}
footer a{
    color: var(--background);
}