<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyNotes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-container">
            <div class="side-header">
                <h2>MyNotes</h2>
            </div>
            <nav class="nav-menu">
            <ul>
                <li><i class="fa fa-sticky-note-o"> </i><a href="../index.html">Notes</a></li>
                <li><i class="fa fa-calendar-o"> </i><a href="reminders.html">Reminders</a></li>
                <li><i class="fa fa-folder-o"> </i><a href="archive.html">Archived notes</a></li>
                <li><i class="fa fa-trash-o"> </i><a href="trash.html">Trash</a></li>
            </ul> 
            </nav>
        </div>
    </aside>
    <main>
        <div class="user">
            <img class="icon-user" src="src/img/iconUser.png" alt="icon user">
        </div>
        <div class="add-notes" id="add-notes">
            <input class="add-notes-input" type="text" id="addNotesText" placeholder="Add a note...">
            <button class="add-notes-btn" id="btnadd">+</button>
        </div>
        <div class="notes" id="card_container">
           <h2>Coming soon</h2>
        </div>
    </main>
    <footer>
        <p>developed by <a href="https://github.com/Celia-Rodriguez" target="_blank">Celia Rodriguez <i class="fa fa-github"></i></a></p>
    </footer>
</body>
</html>